@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  background-color: #50423F;
}

.container {
    display: block;
    color: #bdbdbd;
    margin: 40px auto;
    max-width: 258px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    box-sizing: content-box;
    font-family: 'Poiret One';
    font-size: 22px;
}

h1{
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 50px;
  background: #bdbdbd;
  color: #212121;
  text-align: center;
  margin: 0 30px 10px;
  position: relative;
  text-shadow: -4px 3px 0 #827E7E;
}

h1:after, h1:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    border-width: 25px 10px;
    border-style: solid;
}

h1:before {
    left: -20px;
    border-color: #bdbdbd #bdbdbd #bdbdbd transparent;
}

h1:after {
    right: -20px;
    border-color: #bdbdbd transparent #bdbdbd #bdbdbd;
}

